tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: monospace;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
    "Score1 Reset Score2"
    "Tic Tic Tic";
    height: 100%;
    width: 100%;
    background-color: #2F3E46;
}

.TicTacToeContainer {
    justify-self: center;
    grid-area: Tic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    background-color: #354F52;
    border-radius: 30px;
}

.TicTacToeBoard {
    display: grid;
    grid-template: repeat(3, 250px)/repeat(3, 250px);
}

.BoardButton {
    background-color: transparent;
    border: 1px solid #CAD2C5;
    color: #CAD2C5;
    font-size: 200px;
}

.ResetButton {
    align-self: center;
    justify-self: center;
    grid-area: Reset;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #354F52;
    color: white;
    font-size: 45px;
}

.Score1{
    font-size: 60px;
    color: white;
    display: grid;
    grid-area: Score1;
    justify-content: center;
    align-items: center;
}

.Score2 {
    font-size: 60px;
    color: white;
    display: grid;
    grid-area: Score2;
    justify-content: center;
    align-items: center;
}

